 <div class="title-cards">
    <h2>Arroz Hong Kong</h2>
  </div>

  <div class="container-card">

    <!-- CARD 1 -->
    <div class="card">
      <figure>
        <img src="./img/arrozhk.jpg" alt="Arroz hk" />
      </figure>
      <div class="contenido-card">
        <h3>Arroz hk</h3>
        <p>Uno de los Tipicos,Incluye Pollo,Res y Camaron.</p>

        <div class="price-row">
          <span class="price">L. 220</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- CARD 2 -->
    <div class="card">
      <figure>
        <img src="./img/arrozcamaron.jpg" alt="Arroz Camaron" />
      </figure>
      <div class="contenido-card">
        <h3>Arroz Camaron</h3>
        <p>Uno de los especiales del hk, solamente camaron.</p>

        <div class="price-row">
          <span class="price">L. 210</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- CARD 3 -->
    <div class="card">
      <figure>
        <img src="./img/arrozmarisco.jpg" alt="Arroz Marisco" />
      </figure>
      <div class="contenido-card">
        <h3>Arroz Marisco</h3>
        <p>Uno de los especiales,Incluye Filete Camaron y Caracol.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- CARD 4 -->
    <div class="card">
      <figure>
        <img src="./img/arrozcantones.jpg" alt="Arroz Cantones" />
      </figure>
      <div class="contenido-card">
        <h3>Arroz Cantones</h3>
        <p>Con lechuga ,huevo,pollo,res,camaron.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>
        <button class="btn-card">Ordenar</button>
      </div>
    </div>
   <!-- CARD 4 -->
    <div class="card">
      <figure>
        <img src="./img/mixto.jpg" alt="Camarones Empanizados" />
      </figure>
      <div class="contenido-card">
        <h3>Mixto</h3>
        <p> Incluye Pollo,Res,Camaron </p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>
        <button class="btn-card">Ordenar</button>
      </div>
    </div>
  <div class="card">
      <figure>
        <img src="./img/arrozvegetal.jpg" alt="arroz Vegetal" />
      </figure>
      <div class="contenido-card">
        <h3>Arroz Vegetal</h3>
        <p>Arroz vetetariano Para Acompañar.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>
        <button class="btn-card">Ordenar</button>
      </div>
    </div>

  </div> <!-- cierre .container-card -->