 <!--   ENTRADAS -->
 <div id="entradas" class="title-cards">
    <h2>Bebidas</h2>
  </div>

  <div class="container-card">

    <!-- Entrada 1 -->
    <div class="card">
      <figure>
        <img src="./img/limonada.jpg" alt="Wantan de Pollo" />
      </figure>
      <div class="contenido-card">
        <h3>limonada</h3>
        <p>Una de las bebidas favoritas de nuestro negocio , hecha con un toque especial!</p>

        <div class="price-row">
          <span class="price">L. 120</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 2 -->
    <div class="card">
      <figure>
        <img src="./img/jamaica.jpg" alt="Gestión de Redes" />
      </figure>
      <div class="contenido-card">
        <h3>Jamaica </h3>
        <p>Degusta de nuestra Bebida,refrescate con nuestra jamaica.</p>

        <div class="price-row">
          <span class="price">L. 150</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 3 -->
    <div class="card">
      <figure>
        <img src="./img/maracyuya.jpg" alt="Desarrollo Web" />
      </figure>
      <div class="contenido-card">
        <h3>Maracuya</h3>
        <p>Lo vas a disfrutar, recomendado sin dudas!.</p>

        <div class="price-row">
          <span class="price">L. 100</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 4 -->
     <div class="card">
      <figure>
        <img src="./img/te_frio.jpg" alt="Egg Rolls" />
      </figure>
      <div class="contenido-card">
        <h3>Te frio</h3>
        <p>El mejor te frio que vas a probar em tu vida , no te arrepentiras!</p>

        <div class="price-row">
          <span class="price">L. 95</span>
          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div> 

     <!-- Entrada 5 -->
     <div class="card">
      <figure>
        <img src="./img/jugo_melon.jpeg" alt="Egg Rolls" />
      </figure>
      <div class="contenido-card">
        <h3>Melon</h3>
        <p>Rellenos de vegetales frescos con toque oriental.</p>

        <div class="price-row">
          <span class="price">L. 95</span>
          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div> 

     <!-- Entrada 6 -->
     <div class="card">
      <figure>
        <img src="./img/jugo_mora.jpg" alt="Egg Rolls" />
      </figure>
      <div class="contenido-card">
        <h3>Mora</h3>
        <p>Esta Bebida tiene un toque elegante.</p>

        <div class="price-row">
          <span class="price">L. 95</span>
          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div> 