<!-- Bloque principal: formulario + mapa -->
<section class="contact-main">
  <!-- Columna formulario -->
  <div class="contact-main__column contact-main__form">
    <h1 class="titulo-seccion">Datos Personales</h1>

    <form id="frmData">
      <label>Correo Electrónico</label>
      <input type="email" name="txtCorreo" id="txtCorreo" placeholder="correo@electroni.co" />

      <label>Nombre Completo</label>
      <input type="text" name="txtNom" id="txtNom" placeholder="Nombre Completo" />

      <label>Fecha de Nacimiento</label>
      <input type="date" name="txtDate" id="txtDate" />

      <label>Agregar Nota</label>
      <textarea id="txtNota" name="txtNota" rows="4" placeholder="Pon tu comentario aqui!..."></textarea>

      <input type="button" value="Enviar" onclick="return validar();" />
    </form>
  </div>

  <!-- Columna mapa -->
  <div class="contact-main__column contact-main__map">
    <h1 class="titulo-seccion">Nuestra Ubicación</h1>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3841.849922228996!2d-86.00959032535137!3d15.652978250447804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6bcbfdc7d6b4e3%3A0xb6b7483e6d9a3f15!2sRestaurante%20Hong%20Kong!5e0!3m2!1ses-419!2shn!4v1765081860954!5m2!1ses-419!2shn"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<!-- Bloque video -->
<section class="video-ubicacion">
  <div class="video-card">
    <h1 class="titulo-seccion">¿Cómo llegar?</h1>

    <p class="direccion">
      📍 Calle panamericana, frente a Proveedor Industrial Tocoa Colon .
    </p>

    <video controls autoplay muted loop>
      <source src="./img/video_ubicacion.mp4" type="video/mp4">
      Tu navegador no soporta videos HTML5.
    </video>
  </div>
</section>
