<!--   ENTRADAS -->
  <div id="entradas" class="title-cards">
    <h2>Entradas</h2>
  </div>

  <div class="container-card">

    <!-- Entrada 1 -->
    <div class="card">
      <figure>
        <img src="./img/wantan.jpg" alt="Wantan de Pollo" />
      </figure>
      <div class="contenido-card">
        <h3>Wantan de Pollo</h3>
        <p>Una capa de harina rellena de pollo o camarón, a tu preferencia.</p>

        <div class="price-row">
          <span class="price">L. 300</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 2 -->
    <div class="card">
      <figure>
        <img src="./img/papas.jpg" alt="Papas Fritas" />
      </figure>
      <div class="contenido-card">
        <h3>Papas Fritas</h3>
        <p>Deliciosas Papas con nuestro aderezo y salsa.</p>

        <div class="price-row">
          <span class="price">L. 150</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 3 -->
    <div class="card">
      <figure>
        <img src="./img/tajadas.jpg" alt="Tajadas" />
      </figure>
      <div class="contenido-card">
        <h3>Tajadas</h3>
        <p>Tajadas de plátano o guineo como tu prefieras.</p>

        <div class="price-row">
          <span class="price">L. 100</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 4 -->
    <div class="card">
      <figure>
        <img src="./img/tacos_chinos.jpg" alt="Tacos Chinos" />
      </figure>
      <div class="contenido-card">
        <h3>Tacos Chinos</h3>
        <p>Rellenos de vegetales frescos.</p>

        <div class="price-row">
          <span class="price">L. 95</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 5 -->
    <div class="card">
      <figure>
        <img src="./img/wantan_camaron.png" alt="Wantan de Camarón" />
      </figure>
      <div class="contenido-card">
        <h3>Wantan de Camarón</h3>
        <p>Capa de harina rellena de camarón.</p>

        <div class="price-row">
          <span class="price">L. 95</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 6 -->
    <div class="card">
      <figure>
        <img src="./img/ceviche.jpg" alt="Ceviche" />
      </figure>
      <div class="contenido-card">
        <h3>Ceviche</h3>
        <p>Incluye camaron y Caracol.</p>

        <div class="price-row">
          <span class="price">L. 95</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>
  </div> 