      <!-- Especialidades -->
   <div class="title-cards">
    <h2>Especialidades</h2>
  </div>

  <div class="container-card">
   <!-- CARD 1 -->
    <div class="card">
      <figure>
        <img src="./img/costilla_agridulce.jpg" alt="Costilla Agridulce" />
      </figure>
      <div class="contenido-card">
        <h3>Costilla Agridulce</h3>
        <p>Costilla en salsa BQ con vegetales,piña y arroz blanco.</p>

        <div class="price-row">
          <span class="price">L. 220</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Comprar</button>
      </div>
    </div>
 <!-- CARD 2 -->
    <div class="card">
      <figure>
        <img src="./img/vegetales.jpg" alt="Mixto Vegetal" />
      </figure>
      <div class="contenido-card">
        <h3>Mixto Vegetal</h3>
        <p>Ensalada de verduras con pollo,res y camaron.</p>

        <div class="price-row">
          <span class="price">L. 210</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>
    
    <!-- CARD 3 -->

    <div class="card">
      <figure>
        <img src="./img/chuleta_frita1.jpg" alt="chuleta Frita" />
      </figure>
      <div class="contenido-card">
        <h3>chuleta Frita</h3>
        <p>Chuleta encebollada Incluye:Papas,ensalada y arroz</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Comprar</button>
      </div>
    </div>

      <!-- CARD 4 -->
     <div class="card">
      <figure>
        <img src="./img/pollo_plancha.jpg" alt="Pollo a la plancha" />
      </figure>
      <div class="contenido-card">
        <h3>Pollo a la plancha</h3>
        <p>Camarones crujientes con salsa de la casa.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Comprar</button>
      </div>
    </div>
 <!-- CARD 5 -->
     <div class="card">
      <figure>
        <img src="./img/sopa_Marinera.jpg" alt="Sopa Marinera" />
      </figure>
      <div class="contenido-card">
        <h3>Sopa Marinera</h3>
        <p>Incluye Filete,camaron,caracol, king Craff, tajadas y arroz blanco.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>
        <button class="btn-card">Comprar</button>
      </div>
    </div>

  <!-- CARD 6 -->

    <div class="card">
      <figure>
        <img src="./img/alitas_p.jpg" alt="Alitas" />
      </figure>
      <div class="contenido-card">
        <h3>Alitas </h3>
        <p>Puedes pedirla en salsa picante,barbacoa o empanizadas.</p>

        <div class="price-row">
          <span class="price">L. 240</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>
        <button class="btn-card">Comprar</button>
      </div>
    </div>
 </div>


 

  <!--Fin Tarjetas-->
