<header class="header">
  <nav class="nav container">

    <a href="index.html" class="nav__logo">香 港 Hong Kong</a>

    <ul class="nav__links">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="acercadenosotros.html">Acerca de Nosotros</a></li>

      <!-- 🔥 MENÚ DESPLEGABLE -->
      <li class="menudesplegable">
        <a href="#" class="menudesplegable__btn">Menú ▾</a>

        <ul class="menudesplegable__menu">
          <li><a href="entradas.html">Entradas</a></li>
          <li><a href="arroz.html">Arroz HK</a></li>
          <li><a href="mariscos.html">Mariscos</a></li>
          <li><a href="especialidades.html">Especialidades</a></li>
          <li><a href="bebidas.html">Bebidas</a></li>
        </ul>
      </li>

      <li><a href="blog.html">Blog</a></li>
      <li><a href="contactanos.html">Contáctanos</a></li>

    </ul>

  </nav>
</header>
