  <!--   ENTRADAS -->
 <div id="entradas" class="title-cards">
    <h2>Mariscos</h2>
  </div>

  <div class="container-card">

    <!-- Entrada 1 -->
    <div class="card">
      <figure>
        <img src="./img/camaron_plancha.jpg" alt="Camaron A La Plancha" />
      </figure>
      <div class="contenido-card">
        <h3>Camaron A La Plancha</h3>
        <p>Incluye papas,ensalada y arroz hk</p>

        <div class="price-row">
          <span class="price">L. 300</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 2 -->
    <div class="card">
      <figure>
        <img src="./img/camaron_empanizado.jpg" alt="Camaron Empanizado" />
      </figure>
      <div class="contenido-card">
        <h3>Camaron Empanizado </h3>
        <p>Incluye papas,ensalada y arroz hk</p>

        <div class="price-row">
          <span class="price">L. 300</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 3 -->
    <div class="card">
      <figure>
        <img src="./img/camaron_mantequilla.jpg" alt="Camaron a la Mantequilla" />
      </figure>
      <div class="contenido-card">
        <h3>Camaron a la Mantequilla</h3>
        <p>Incluye papas,ensalada y arroz hk</p>

        <div class="price-row">
          <span class="price">L. 300</span>

          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div>

    <!-- Entrada 4 -->
     <div class="card">
      <figure>
        <img src="./img/mar_tierra.jpg" alt="Mar y Tierra" />
      </figure>
      <div class="contenido-card">
        <h3>Mar y Tierra</h3>
        <p>Incluye papas,ensalada y arroz hk</p>

        <div class="price-row">
          <span class="price">L. 320</span>
          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

        <button class="btn-card">Ordenar</button>
      </div>
    </div> 

     <!-- Entrada 5 -->
     <div class="card">
      <figure>
        <img src="./img/langosta_frita.jpg" alt="Lagosta Frita" />
      </figure>
      <div class="contenido-card">
        <h3>Lagosta Frita</h3>
        <p>Incluye papas,ensalada y arroz hk</p>

        <div class="price-row">
          <span class="price">L. 380</span>
          <div class="qty">
            <button class="qty-btn menos">−</button>
            <span class="qty-value">1</span>
            <button class="qty-btn mas">+</button>
          </div>
        </div>

      
        <button class="btn-card">Ordenar</button>
      </div>
    </div> 

       <!-- Entrada 6 -->
  <div class="card">
    <figure>
      <img src="./img/Filete_plancha.jpg" alt="filete a la Plancha" />
    </figure>
    <div class="contenido-card">
      <h3>filete a la Plancha</h3>
      <p>Incluye papas,ensalada y arroz hk.</p>

      <div class="price-row">
        <span class="price">L. 230</span>
        <div class="qty">
          <button class="qty-btn menos">−</button>
          <span class="qty-value">1</span>
          <button class="qty-btn mas">+</button>
        </div>
      </div>

      <button class="btn-card">Ordenar</button>
    </div>
  </div> 

</div> <!-- cierre de .container-card -->
